* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

/*--------Header-------*/

.header {
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    background-image: url(Layer%2034.png);
}
.container {
    height: 100%;
    width: 1170px;
}
.menu {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #505269;
}
.header-logo {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-menu {
    height: 100%;
    width: 600px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
}
ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
li {
    list-style-type: none;
}
.menu-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.toggle {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.toggle i {
    font-size: 40px;
    color: white;
    margin-right: 30px;
}
.section {
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-headline {
    height: 160px;
    width: 970px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-headline h1 {
    font-size: 65px; 
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 1.1;
}
.section-text {
    height: 110px;
    width: 970px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section-text p {
    color: white;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 1.5;
}
.section-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.link {
    padding: 14px 40px;
    background-color: #e84545;
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-weight: 600;
}
.link:hover {
    background-color: #da3838;
}

/*----------Nav----------*/

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*----------Features----------*/

.nav-features {
    height: 670px;
    widows: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-features-up {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.nav-features-down {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.nav-features-item {
    height: 240px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.nav-features-icon {
    height: 60px;
}
img.nav-features-icon {
    height: 100%;
}
.nav-featires-text {
    height: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-featires-text p {
    text-align: center;
    color: #6c7279;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    padding-top: 20px;
}
.nav-featires-text h3 {
    text-align: center;
    color: #2d3033;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

/*---------Works---------*/

.nav-works {
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}
.nav-work {
    height: 50%;
    width: 25%;
    border-top: 1px solid white;
    border-right: 1px solid white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2e4a;
    position: relative;
    
}
.work-photo {
    height: 100%;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(232, 69, 69,.9);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s linear;
}
.work-text h3{
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
.work-text p {
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
    font-weight: 400;
}
.work-text:hover {
    opacity: 1;
}

/*----------------Team---------------*/

.nav-team {
    height: 780px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.team {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.team-item {
    height: 100%;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team-icons {
    height: 40px;
    width: 128px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.icons {
    height: 40px;
    width: 40px;
    border: 1px solid #e8ecee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.icons img {
    height: 16px;
    width: auto;
}
.team-item h2{
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #2d3033;
}
.team-item h3 {
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #e84545;
}
.team-item p {
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
}




/*-------------Download--------------*/




.nav-download {
    height: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-download h1 {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    color: #2d3033;
    font-weight: 300;
}
.nav-download p {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    color: #2d3033;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
}
.download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.link-download {
    padding: 17px 80px;
    background-color: #e84545;
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-weight: 600;
    transition: .1s linear;
}
.link-download:hover {
    background-color: #e72929;
}



/* -----------footer---------- */



.footer {
    height: 350px;
    background-color: #393d63;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.footer-up {
    height: 250px;
    width: 100%;
    background-color: #393d63;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.foot-location {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.foot-location h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}
.foot-location p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #9c9eb1;
    margin-top: 25px;
    text-align: center;
    width: 170px;
}
.foot-networks {
    height: 100%;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.foot-networks h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}
.foot-network-items {
    height: 40px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 25px;
}
.foot-network-item {
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
}
.foot-network-item:nth-child(2) {
    margin-left: 7px;
}
.foot-network-item:nth-child(3) {
    margin-left: 7px;
}
.foot-soc-network {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-network-item img {
    height: 16px;
    width: auto;
    color: white;
}

.foot-about {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.foot-about h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}
.foot-about p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #9c9eb1;
    margin-top: 25px;
    width: 330px;
    text-align: center;
    margin-top: 25px;
}
.footer-down {
    height: 100px;
    width: 100%;
    background-color: #313353;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-down p {
    font-family: 'Raleway', sans-serif;
    color: #808080;
    font-size: 14px;
    width: 350px;
    text-align: center;
}
.heart {
    color: #ba4148;
}
.bold-text {
    color: white;
    font-weight: medium;
}




/* ----------media-----------  */
@media screen and (max-width: 992px) {
    .container {
        width: 100%;
    }
    .header  {
        height: 100vh;
    }
    .menu {
        height: 120px; 
        padding: 0px 35px;
    }
    .header-menu ul {
        position: absolute;
        z-index: 1;
        top: 120px;
        left: 0;
        right: 0;
        height: calc(100vh - 120px);
        flex-direction: column;
        align-items: flex-end;
        background-color: #393d63;
        padding: 300px 0px;
        align-items: center;
        display: none;
        font-size: 30px;
    }
    .toggle {
        display: flex;
    } 
    .open {
        display: flex !important;
    }
    .section {
        height: 100%;
    }
    .section-headline {
        height: auto;
        width: 90%;
    }
    .section-headline h1 {
        font-size: 75px; 
        line-height: 1.2;
    }
    .section-text {
        height: auto;
        width: 90%; 
        margin-top: 50px;
     }
    .section-text p {
        font-size: 27px;
     }
    .link {
        padding: 25px 70px;
        font-size: 17px;
        margin-top: 30px;
     }
    .nav-features {
        height: 1000px;
    }
    .nav-features .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 30px;
    }
    .nav-features-up {
        width: 50%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .nav-features-down {
        width: 50%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .nav-features-item {
        width: 90%;
     }
    .nav-features-icon {
         height: 80px;
     }
     .nav-featires-text p {
        font-size: 17px;
     }
     .nav-featires-text h3 {
        font-size: 17px;
     }
     .nav-team {
         height: auto;
     }
     .team {
         flex-wrap: wrap;
         margin-top: 30px;
     }
     .team-item {
         width: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 30px;
     }
     .team-item img {
         width: 60%;
         height: 30%;
         border-radius: 3px;
     }

     .footer-up {
         padding-left: 30px;
         padding-right: 30px;
     }
     .foot-about p {
         width: 250px;
     }
}



